/** Formulario de contacto*/
h1 {
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    background-color: white;
    width: 350px;
    height: 380px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 8);
    color: grey
}

.btn button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

input,textarea {
    width: 100%;
    padding: 8px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 8px;
}

.contact {
    margin: auto;
}

textarea {
    outline: none;
    font-size: 18px;
}

/**Fin Formulario de contacto*/

/**Fin Formulario de compra*/
.infoTarjeta-tiulo {
    display: flex;
    justify-content: center;
    color: green;
    margin-top: 40px;

}

form {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px
}

.info-tarjeta {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info-tarjeta,
input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.info-tarjeta button {
    
    background-color: green;
    color: white;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}
#mensaje {
    color: red;
    font-size: 20px;
    margin: auto;
}

/**Fin Formulario de compra*/